doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(description="三劇団共演企画vol.1「たのしい就活」 公演特設ページ")
    title 三劇団共演企画vol.1「たのしい就活」 公演特設ページ
    link(rel='stylesheet', href='/public/style/main.css')
  body
    .containter
      .titleWrap
        img.logo(alt="たのしい就活", src="/public/images/stamp.png")
        .title
          span 三劇団共演企画vol.1
          p
            strong たのしい就活
            |  公演特設ページ
        #subnav
          p 「たのしい就活」公演情報をチェック！
            br
            | 公演期間：2015年1月16日(金) ～ 2015年1月18日(日)
      .nav
        ul
          li: a(href="#top") トップ
          li: a(href="#intro") イントロダクション
          li: a(href="#detail") 詳細情報
          li: a(href="#cast") 役者・スタッフ
          li: a(href="#cm") 宣伝CM
          li.ticket: a(href="#reserve") チケット予約
      .hero.clearfix
        a(href="https://twitter.com/endorphin_h" target="_blank")
          img.full(src="/public/images/hero.png", alt="たのしい就活")
      .main
        #intro.article 
          h1 イントロダクション
          div.section
            h2
              span.icon-play-circle-fill
              |  三劇団共演企画とは
            .content
              div.clearfix
                a(href="http://gekkosya.com/", target="_blank")
                  img.three(src="/public/images/gekko.jpg", alt="劇団月光斜")
                a(href="http://shar-ippoo.com/", target="_blank")
                  img.three(src="/public/images/shar.png", alt="劇団西一風")
                a(href="http://ritsugei.ikaduchi.com/top.html", target="_blank")
                  img.three(src="/public/images/ritsugei.png", alt="劇団立命芸術劇場")
              | 立命館大学衣笠キャンパスの「劇団月光斜」「劇団西一風」「劇団立命芸術劇場」の３劇団が一同に集まって一つの公演を行う企画。
          div.section.clearfix
            h2
              span.icon-play-circle-fill
              |  演出のことば
            img.full(src="/public/images/msg.png", alt="")
        .topLink: a(href="#top") ▲このページの先頭へ戻る
        #detail.article 
          h1 詳細情報
          div.section.date-container
            h2
              span.icon-play-circle-fill
              |  日時
            table
              tr
                td.sparse
                td.date 2015年1月16日(金)
                td: a(href="https://ticket.corich.jp/stage/apply.php?sid=60807&sdn=1", target="_blank") 13:00
                td.split: span: a(href="https://ticket.corich.jp/stage/apply.php?sid=60807&sdn=2", target="_blank") 18:00
              tr
                td.sparse
                td.date 2015年1月17日(土)
                td: a(href="https://ticket.corich.jp/stage/apply.php?sid=60807&sdn=3", target="_blank") 13:00
                td.split: span: a(href="https://ticket.corich.jp/stage/apply.php?sid=60807&sdn=4", target="_blank") 18:00
              tr
                td.sparse
                td.date 2015年1月18日(日)
                td(colspan="2"): a(href="https://ticket.corich.jp/stage/apply.php?sid=60807&sdn=5", target="_blank") 13:00
            div.date-announce: span ※開場は開演の30分前を予定しております。
          div.section.no-bottom.clearfix
            h2
              span.icon-play-circle-fill
              |  料金
            a(href="#rt"): img.full.price-img(src="/public/images/price.png", alt="前売300円 当日500円 リツイート割無料")
          div.section.clearfix
            h2
              span.icon-play-circle-fill
              |  場所
            img.border-bottom.full(alt="立命館大学 学生会館小ホール", src="/public/images/map.png")
            .content.clearfix
              .map
                iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3266.9236503709067!2d135.72486236137698!3d35.03363989406221!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe76b3c6136002569!2z5a2m55Sf5Lya6aSo!5e0!3m2!1sja!2sjp!4v1419363050999", frameborder="0")
              .map-sub
                p 
                  span.red ★
                  | JR円町駅・阪急西院駅
                p 市バス快速202/快速205にて「立命館大学前」下車
                p 市バス205にて「衣笠校前」下車徒歩10分
                p 
                  span.red ★
                  | JR・近鉄京都駅
                p 市バス50/快速205にて「立命館大学前」下車
                p 市バス205にて「衣笠校前」下車、徒歩10分
                p 京阪電車三条駅
                p 市バス15/59にて「立命館大学前」下車
        .topLink: a(href="#top") ▲このページの先頭へ戻る
        #cast.article
          h1 役者・スタッフ
          .section
            h2
              span.icon-play-circle-fill
              |  役者
            .content
              span.bold 堕落王　葛山陽平　座　上田昇　阿部惣(劇団愉快犯)　峰守亜弥　神崎麻梨　内田藍海
          .section 
            h2
              span.icon-play-circle-fill
              |  スタッフ
            .content
              p 【舞台監督】山下裕英
              p 【舞台美術】上田昇
              p 【照明】山井浩気
              p 【音響/映像】広垣ゆりえ
              p 【衣装】寺町走ル
              p 【メイク】山下裕英
              p 【小道具】神崎麻梨
              p 【情報宣伝】佐藤叶(劇団月光斜) 山崎航太郎(劇団月光斜)
              p 【宣伝美術】立岡千裕 山井浩気
              p 【WEB】桑折慧 広垣ゆりえ
              p 【WEB協力】CoRich舞台芸術！
              p 【渉外】山井浩気
              p 【制作】山崎航太郎(劇団月光斜) 市道野愛 佐藤好(劇団西一風)
              p 【製作】劇団西一風
              p 【協力】劇団月光斜 劇団立命芸術劇場
        .topLink: a(href="#top") ▲このページの先頭へ戻る
        #cm.article
          h1 宣伝CM
          .content
            .video
              iframe(src="//www.youtube.com/embed/LP5qDtezTkg?rel=0", frameborder="0", allowfullscreen)
        .topLink: a(href="#top") ▲このページの先頭へ戻る
      .side
        ul
          li
            span.icon-arrow-right
            a.link(href="http://shar-ippoo.com/", target="_blank") 劇団西一風
          li
            span.icon-arrow-right
            a.link(href="http://gekkosya.com/", target="_blank") 新演劇研究会劇団月光斜
          li
            span.icon-arrow-right
            a.link(href="http://ritsugei.ikaduchi.com/top.html", target="_blank") 劇団立命芸術劇場
        .tw
          div
            span.icon-twitter
            span.txt
              | たのしい就活
              br
              | Twitter
            div.wrap
              a.button.s(href="https://twitter.com/endorphin_h" target="_blank") CHECK
        #reserve.article
          h1
            span.icon-person
            |  予約はこちら
          .content
            a.button(href="https://ticket.corich.jp/apply/60807/", target="_blank") 今すぐ予約する
            br
            p.small.right.link
              | Powered by 
              a(href="http://ticket.corich.jp/stage/", target="_blank") Corichチケット！
            p.small.link
              [PR] <a href="http://www.drerich.jp" target="_blank">レンタルドレス</a>
              <a href="http://hello-career.net/" target="_blank">留学生 就活</a>
              <a href="http://goldcard.pochitto.xyz/merit-demerit/" target="_blank">ゴールドカード　ランキング</a>
              <a href="http://studiobook.jp" target="_blank">撮影スタジオ</a>
        #rt.article
          h1
            span.icon-retweet
            |  リツイート割
          .content
            | Twitterで公演情報をリツイートした方料金無料！来場時にRT画面をご提示下さい。
            a.button.mt(href="https://twitter.com/endorphin_h", target="_blank")
              span.icon-twitter
                |  @endorphin_h
            <a class="twitter-timeline link" data-dnt="true" href="https://twitter.com/endorphin_h" data-widget-id="547448473457393664">@endorphin_hさんのツイート</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    #footer
      ul#footerNav
        li.triangleRight: a(href="#top") トップ
        li: a(href="#intro") イントロダクション
        li: a(href="#detail") 詳細情報
        li: a(href="#cast") 役者・スタッフ
        li: a(href="#cm") 宣伝CM
        li.ticket: a(href="#reserve") チケット予約
    .titleWrap
      img.logo(src="/public/images/stamp.png", alt="たのしい就活")
      .title
        span 三劇団共演企画vol.1
        p
          strong たのしい就活
          |  公演特設ページ
