@charset "utf-8";
/*=============================================================
	[Update: 2012/08/23]
	フッター用CSS
	==== index ====
	フッター	[=footer]
=============================================================*/

/* ==========================================
* フッター	[=footer]
========================================== */

#global_footer{
	padding:12px 10px 15px 10px;
	border-top:2px solid #0066cc;
	font-size:10px;
	font-size:0.62rem;
	color:#435B67;
}
#global_footer a{
	display:inline-block;
	color:#435B67;
	text-decoration: underline;
}
#global_footer>nav{
	text-align:center;
}
#global_footer>nav li{
	display:inline-block;
}
#global_footer>nav li:not(:last-of-type):after{
	content:'｜';
	color:#999;
}
#global_footer>nav li:only-child{
	content:'';
}
#footer_copyright{
	font-weight:bold;
}
#footer_copyright p{
	margin:10px 0 5px 0;
}